<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96885338561-2quesl7nf3qs72r3rt7hquhikq38iel5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96885338561-2quesl7nf3qs72r3rt7hquhikq38iel5</string>
	<key>API_KEY</key>
	<string>AIzaSyB0BZj3V_a_FDDGXDVT5TAObWJ_p_gDlRI</string>
	<key>GCM_SENDER_ID</key>
	<string>96885338561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devsom.ProteinTracker</string>
	<key>PROJECT_ID</key>
	<string>hello-protein</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-protein.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96885338561:ios:1be75ec85e6a064f3dbf40</string>
</dict>
</plist>